/*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color:#00000028;
}

body{
    background: green;
    font-family: "Roboto",sans-serif;
}

#logo{
    width: 60px;
    height: 30px;
    border-radius: 10px;


}

.mainheader{
    background: red;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
        

    }
.navigation a {
    color:rgb(0, 247, 255);
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;

}
.navigation  a:hover {
    color: blue;
    


}
#mainfooter {
    background-color: blueviolet;
    position:fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 10VH;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

} / *     